<main>

    <header>
        <h1>Aaron Amato</h1>
        <p>🚀 Welcome to my website!</p>
    </header>


    <blockquote>
        <p>I like software development and innovation</p>
    </blockquote>

    <section>
        <h2>📜 Manifesto</h2>
        <p>
            I am 27 years old and have a background in Spatial Data Science and Visualisation. My strengths lie in Front
            End
            development,
            using frameworks such as Angular and Flutter. I am interested in smart cities, IoT and how new technologies
            can
            be used to
            improve living standards.
        </p>

        <p>
            Outside of work I like to run and go hiking whenever possible. I also love to cook and read non-fiction.
            Before
            the pandemic I tried
            to visit a new country every year and travel as much as possible.
        </p>

    </section>

    <section class="light">
        <h2>👩🏽‍🚀 Projects</h2>

        <p>
            I have been apart of teams building solutions for Pay as you go solar energy in the developing world. I
            worked
            as a DevOps engineer, ensuring
            the global infrastructure of the company was working as expected. Working with Angular, I have also helped
            to
            build a software platform for the
            Biotech industry to catalogue and manage their workflows in the area of advanced treatment of stem cell
            patients
            which helps manage data in a secure and
            reliable way.
        </p>

        <h2>🏆 Accomplishments</h2>

        <p>
            Masters in Spatial Data Science and visualisation and Bachelors in Environmental Science
        </p>

    </section>

    <blockquote>
        <p>The best way out is always through <br>-Robert Frost</p>
    </blockquote>

    <section class="left">
        <h2>🌮 Work History</h2>

        <h3>Autolomous</h3>
        <p>
            ● Software Engineer - design, implement and maintain software, to take part in software and architectural
            development activities, conduct software analysis and programming for building the Front and Back end of the
            app
            ● Testing and debugging, identifying production and non-production application issues
            ● Transforming requirements into stipulations, develop, test, implement and maintain
            application software. Recommend changes to improve established application processes
            ● Develop technical designs for application development and Writing documents as well as
            creating presentations for the rest of the team
            ● Angular development to build out the front end of the AutoloMATE app which allows cell
            and gene therapy manufacturers to streamline their processes in a blockchain secure and fast
            environment
            ● Node for developing the backend of the app as well as deploying and maintaining Firebase
            cloud functions to execute reliable pieces of code specific to certain functionalities of the app
        </p>
        <h3>Plug and Play tech Center</h3>
        <p>
            ● Software Engineer - developed front-end and back-end of the Playbook Pro app, a product which serves
            venture
            capitalist and startup investors to find and organise their favorite startups and make decisions on which
            ones
            are best to invest in based on the most relevant data to them which is presented via the apps many API’s and
            plugins
            ● Developed using Angular and Django frameworks with a team of developers to continuously upgrade and scale
            the
            app to meet the requirements of users. The database technologies include PostgreSQL & Firebase
            ● Built various features in the app using tools such as Material Design, Akita for state management, RxJS,
            Heroku for deploying and storing the app as well as Jasmine for Unit Testing and Coralogix for data analysis
            to
            increase resilience
        </p>
        <h3>Solaris Offgrid</h3>
        <p>
            ● DevOps Engineer – Maintained, deployed and scaled a secure infrastructure of a range of SaaS products
            ● Infrastructure - Worked with Docker, Elastic Cloud, Heroku, and AWS. These technologies have been scaled
            using
            Linux servers with the latest software infrastructure technologies. DevOps projects have included writing
            Python
            for automation of NGINX and internet security, using AWS for backup of data along with a host of other
            infrastructure tools.
            ● Cloud monitoring - using Elasticsearch, Kibana and Coralogix to transfer data to AWS hosted Elastic-Cloud
            domain which is used for monitoring real-time data to receive alerts and notifications about security and
            system
            downtime. Data analysis is conducted in this tool to understand system errors along with other areas of
            issues
            and improvement.
        </p>

    </section>

    <blockquote>
        <p>Thanks for checking in!</p>
    </blockquote>


</main>